NET "clk50" LOC = "P85" | IOSTANDARD = LVTTL;
NET "sck" LOC = "P97" | IOSTANDARD = LVTTL;
NET "sda" LOC = "P98" | IOSTANDARD = LVTTL;
NET "RxD" LOC = "P1" | IOSTANDARD = LVTTL; #Pmod1<3>
NET "RTS" LOC = "P16" | IOSTANDARD = LVTTL; #Pmod1<4>
NET "CTS" LOC = "P5" | IOSTANDARD = LVTTL; #Pmod1<1>
NET "RxDTest" LOC = "P138" | IOSTANDARD = LVTTL; #Pmod3<1>
NET "RESET" LOC = "P92" | IOSTANDARD = LVTTL; #Pmod1<8>